.attribute-container {
    margin-bottom: 10px;  // the desired space between attributes
  }
  .attribute-container .language-item {
    margin-bottom: 5px !important;
  }
  .language-item {
    margin-bottom: 5px; 
  }
  .language-separator {
    border-bottom: 1px solid #ccc; 
    margin-bottom: 5px; 
  }
  
  